In [2]:
#import required libraries
import sklearn 
import re
import string
import pandas as pd
import numpy as np
from fuzzywuzzy import fuzz, process
from simhash import Simhash, SimhashIndex #, fingerprint, hamming_distance# 
from nltk import metrics, stem, tokenize
from nltk.metrics import distance
from nltk.stem.snowball import SnowballStemmer, stopwords
from nltk.util import ngrams
from gensim import corpora, models, similarities
from pprint import pprint

In [96]:
my_list = [1,2,3,4,5,6,7,8]
greater_than_five = False
for elem in my_list: 
    if elem > 5:
        greater_than_five = True 
        break

In [ ]:
#connect to db example
#!/usr/bin/python
import MySQLdb
# Open database connection
db = MySQLdb.connect("localhost","testuser","test123","TESTDB" )
# prepare a cursor object using cursor() method
cursor = db.cursor()
# execute SQL query using execute() method.
cursor.execute("SELECT VERSION()")
# Fetch a single row using fetchone() method.
data = cursor.fetchone()
print "Database version : %s " % data
# disconnect from server
db.close()

In [ ]:
#Create table example
#!/usr/bin/python
import MySQLdb
# Open database connection
db = MySQLdb.connect("localhost","testuser","test123","TESTDB" )

# prepare a cursor object using cursor() method
cursor = db.cursor()

# Drop table if it already exist using execute() method.
cursor.execute("DROP TABLE IF EXISTS EMPLOYEE")

# Create table as per requirement
sql = """CREATE TABLE EMPLOYEE (
         FIRST_NAME  CHAR(20) NOT NULL,
         LAST_NAME  CHAR(20),
         AGE INT,  
         SEX CHAR(1),
         INCOME FLOAT )"""

cursor.execute(sql)

# disconnect from server
db.close()

In [ ]:
#some skeleton code
if expression : 
   suite
elif expression : 
   suite 
else : 
   suite

In [ ]:
#!/usr/bin/python

str = 'Hello World!'
print str          # Prints complete string
print str[0]       # Prints first character of the string
print str[2:5]     # Prints characters starting from 3rd to 5th
print str[2:]      # Prints string starting from 3rd character
print str * 2      # Prints string two times
print str + "TEST" # Prints concatenated string

In [29]:
#string formatting
#!/usr/bin/python

print("My name is %s and weight is %d kg!" % ('Zara', 21))
''''
%c 	character
%s 	string conversion via str() prior to formatting
%i 	signed decimal integer
%d 	signed decimal integer
%u 	unsigned decimal integer
%o 	octal integer
%x 	hexadecimal integer (lowercase letters)
%X 	hexadecimal integer (UPPERcase letters)
%e 	exponential notation (with lowercase 'e')
%E 	exponential notation (with UPPERcase 'E')
%f 	floating point real number
%g 	the shorter of %f and %e
%G 	the shorter of %f and %E\*
''''

My name is Zara and weight is 21 kg!

In [3]:
#BASIC LIST STUFF
#!/usr/bin/python
list1 = ['physics', 'chemistry', 1997, 2000];
list2 = [1, 2, 3, 4, 5 ];
list3 = ["a", "b", "c", "d"];
for x in list2: 
    print(x),
#BASIC LIST OPERATIONS
len([1, 2, 3])
[1, 2, 3] + [4, 5, 6]
#!/usr/bin/python

list1 = ['physics', 'chemistry', 1997, 2000];
print(list1)
del list1[2];
print("After deleting value at index 2 : ")
print(list1)

L = ['spam', 'Spam', 'SPAM!']
#1 	list.append(obj)
#Appends object obj to list
#2 	list.count(obj)
#Returns count of how many times obj occurs in list
#3 	list.extend(seq)
#Appends the contents of seq to list
#4 	list.index(obj)
#Returns the lowest index in list that obj appears
#5 	list.insert(index, obj)
#Inserts object obj into list at offset index
#6 	list.pop(obj=list[-1])
#
#Removes and returns last object or obj from list
#7 	list.remove(obj)
#
#Removes object obj from list
#8 	list.reverse()
#
#Reverses objects of list in place
#9 	list.sort([func])
#
#Sorts objects of list, use compare func if given

1
2
3
4
5
['physics', 'chemistry', 1997, 2000]
After deleting value at index 2 :
['physics', 'chemistry', 2000]

In [5]:
#BASIC LIST STUFF
#!/usr/bin/python

list1 = ['physics', 'chemistry', 1997, 2000];
list2 = [1, 2, 3, 4, 5, 6, 7 ];
print("list1[0]: ", list1[0])
print("list2[1:5]: ", list2[1:5])

list1[0]:  physics
list2[1:5]:  [2, 3, 4, 5]

In [8]:
#UPDATING LISTS
list = ['physics', 'chemistry', 1997, 2000];
print("Value available at index 2 : ")
print(list[2])
list[2] = 2001;
print("New value available at index 2 : ")
print(list[2])

Value available at index 2 :
1997
New value available at index 2 :
2001

In [11]:
#accessing tuples#
#!/usr/bin/python

tup1 = ('physics', 'chemistry', 1997, 2000);
tup2 = (1, 2, 3, 4, 5, 6, 7 )
print("tup1[0]: ", tup1[0])
print("tup2[1:5]: ", tup2[1:5])

tup1[0]:  physics
tup2[1:5]:  (2, 3, 4, 5)

In [12]:
#function example
def functionname( parameters ):
   "function_docstring"
   function_suite
   return [expression]


# Function definition is here
def printme( str ):
   "This prints a passed string into this function"
   print(str)
   return;

# Now you can call printme function
printme("I'm first call to user defined function!")
printme("Again second call to the same function")

I'm first call to user defined function!
Again second call to the same function

In [13]:
import pandas as pd
import numpy as np
from pprint import pprint


numbers100 = []
for x in range(1,100):
    if x <= 100:
        numbers100.append(x)

numbersmod3 =[]
for x in numbers100:
    if x%3==0:
        numbersmod3.append(x)

numbersmod5 = []
for x in numbers100:
    if x%5==0:
        numbersmod5.append(x)

numbersgcd35 = []
for x in numbers100:
    if x%5==0 and x%3==0:
        numbersgcd35.append(x)

fizzbuzz = []
for x in range(1,100):
    if x <= 100:
        fizzbuzz.append(x)
for (i, item) in enumerate(fizzbuzz):
    if item in numbersmod3:
        fizzbuzz[i] = 'fizz'
    if item in numbersmod5:
        fizzbuzz[i] = 'buzz'
    if item in numbersgcd35:
        fizzbuzz[i] = 'fizzbuzz'
print(fizzbuzz) 
           
#df = pd.DataFrame([numbers100, numbersmod3, numbersmod5, numbersgcd35]);
#pprint(df)

#how to map(lambda x:x if x!= 4 else 'sss',a)

[1, 2, 'fizz', 4, 'buzz', 'fizz', 7, 8, 'fizz', 'buzz', 11, 'fizz', 13, 14, 'fizzbuzz', 16, 17, 'fizz', 19, 'buzz', 'fizz', 22, 23, 'fizz', 'buzz', 26, 'fizz', 28, 29, 'fizzbuzz', 31, 32, 'fizz', 34, 'buzz', 'fizz', 37, 38, 'fizz', 'buzz', 41, 'fizz', 43, 44, 'fizzbuzz', 46, 47, 'fizz', 49, 'buzz', 'fizz', 52, 53, 'fizz', 'buzz', 56, 'fizz', 58, 59, 'fizzbuzz', 61, 62, 'fizz', 64, 'buzz', 'fizz', 67, 68, 'fizz', 'buzz', 71, 'fizz', 73, 74, 'fizzbuzz', 76, 77, 'fizz', 79, 'buzz', 'fizz', 82, 83, 'fizz', 'buzz', 86, 'fizz', 88, 89, 'fizzbuzz', 91, 92, 'fizz', 94, 'buzz', 'fizz', 97, 98, 'fizz']

In [14]:
count = 0
while(count <=100):
  fizz = 'fizz' if count % 3 == 0 else ''
  buzz = 'buzz' if count % 5 == 0 else ''
  print(count,' ',fizz,buzz)
  count = count + 1

0   fizz buzz
1
2
3   fizz
4
5    buzz
6   fizz
7
8
9   fizz
10    buzz
11
12   fizz
13
14
15   fizz buzz
16
17
18   fizz
19
20    buzz
21   fizz
22
23
24   fizz
25    buzz
26
27   fizz
28
29
30   fizz buzz
31
32
33   fizz
34
35    buzz
36   fizz
37
38
39   fizz
40    buzz
41
42   fizz
43
44
45   fizz buzz
46
47
48   fizz
49
50    buzz
51   fizz
52
53
54   fizz
55    buzz
56
57   fizz
58
59
60   fizz buzz
61
62
63   fizz
64
65    buzz
66   fizz
67
68
69   fizz
70    buzz
71
72   fizz
73
74
75   fizz buzz
76
77
78   fizz
79
80    buzz
81   fizz
82
83
84   fizz
85    buzz
86
87   fizz
88
89
90   fizz buzz
91
92
93   fizz
94
95    buzz
96   fizz
97
98
99   fizz
100    buzz

In [15]:
x=6
if x%6==0:
    print(x)

6